.my-btn{
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #111924;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  text-align: center;
  margin-left: 200px;
  margin-top: 30px;
}
.my-btn:hover {
  background: #FF425B;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}


/*  tests  */
/*
.my-btn{
  color: #111924;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  border: 3px solid #111924;
  transition: all 0.4s ease 0s;
  text-align: center;
  margin-left: 200px;
  margin-top: 30px;
  font-weight: 700;
}
.my-btn:hover {
  background: #FF425B;
  color: #fff;
  border: none;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}
*/
